html {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    color: #303030;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 64px;
    font-size: 20px;
}

/*HEADER*/

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: white;
    height: 64px;
    width: 100%;
    justify-content: space-between;
}

#logo {
    display: flex;
    align-items: center;
    padding-left: 24px;
}

#logo p {
    display: inline;
    font-size: 1.2rem;
    text-transform: uppercase;
}

#logo-part1 {
    font-weight: 600;
}

#logo-part2 {
    color: #D0D0D0;
}

nav ul li {
    display: inline;
    text-decoration: none;
    padding-right: 16px; 
    
}

nav ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #303030;
}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
}

/*TOP SECTION*/

button {
    background-color: #303030;
    padding: 8px 80px;
    width: 100%;
    margin-top: 1.6rem;
}

button a {
    color: whitesmoke;
    font-size: 1.5rem;
    text-decoration: none;
}

button:hover {
    background-color: #D0D0D0;
    color: #303030;
}

#first-section {
    background-color: #D0D0D0;
    align-items: center;
}

/*Common elements for different sections*/

.sections {
    display: flex;
    padding: 32px 24px;
}

.sections-left {
    flex-basis: 60%;
    padding-right: 24px;
}

.sections-left img {
    width: 100%;
}

.sections-right {
    flex-basis: 40%;
}


/*Common elements for 2nd & 4th sections*/

.our-sub-section {
    display: flex;
    padding: 16px;
    align-items: center;
}

our-sub-section img {
    flex-basis: 35%;
}

.our-sub-section-text {
    flex-basis: 65%;
    margin-left: 45px;
}


/*Second section*/

.blue a {
    color: #0096FF;
    text-decoration: none;
}

.sections-right div.our-sub-section:nth-child(2) {
    border-top: 5px double #D0D0D0;
}

.sections-right div:nth-child(3) {
    background-color: #D0D0D0;
}

div.sections-right {
    border-left: 2px solid #D0D0D0;
}

#orientation {
    padding-top: 0;
}

/*Third section*/

#third-section {
    background-color: #f0f0f0;
    display: block;
}

#third-section h1 {
    text-align: center;
}

#courses {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 72px;
}

/*To adjust number of flex-items per row: 3 per row*/

@media only screen and (min-width: 1537px) {
    .course-square {
        flex-basis: 25%;
    }  
}

@media only screen and (min-width: 1024px) {
    .course-square {
        flex-basis: 30%;
    }  
}


.course-square {
    background-color: white;
    margin-bottom: 32px;
    margin-right: 32px;
}

.course-square img {
    width: 100%;
}

.course-square div {
    padding: 16px 16px;
}

/*Fourth section*/

#fourth-section h1 {
    text-align: center;
}

#fourth-section {
    flex-direction: column;
}

#left-right-container {
    display: flex;
    flex-direction: row;
}

.sections-left-video {
    flex-basis: 60%;
    padding-right: 24px;
}

video {
    width: 100%;
}

.sections-right-video {
    flex-basis: 40%;     
}

#fisma {
    background-color: #f0f0f0;
}

/**Footer**/

footer {
    border-top: 2px solid #D0D0D0;
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
}

footer p {
    padding-left: 24px;
}

footer ul li {
    text-decoration: none;
    display: inline;
    padding: 0 24px 0 0;
}

footer ul li a {
    text-decoration: none;
}
